<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather app</title>

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!--FONT AWESOME-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main class="card-main">
      <div class="card button-home-responsive"><i class="fa-solid fa-cloud"></i> weather</div>
      <nav>
        <span class="card button-home"><i class="fa-solid fa-cloud"></i> weather</span>
        <div class="weather-input card">
          <form id="weather-form" method="post" action="/search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="location" />
          </form>
        </div>
        <button form="weather-form" class="card" type="submit">
          <i class="fa-solid fa-location-crosshairs"></i>
        </button>
        <span class="card button-theme"><i class="fa-regular fa-sun"></i></span>
        <a class="card-alternative button-github" href="https://github.com/noaJ4Q/NodeJS-WeatherApp.git"
          ><i class="fa-brands fa-github"></i
        ></a>
        <span class="card button-more-options"><i class="fa-solid fa-chevron-down"></i></span>
      </nav>
      <h1 class="weather-title">Today Overview</h1>
      <div class="weather-result">
        <div class="weather-result-main card">
          <div>
            <div class="icon"><i class="fa-solid fa-temperature-half"></i></div>
            <div class="temperature">
              <%= locals.dataWeather !== undefined ? dataWeather.temp : '- -' %> °C
            </div>
            <div class="description">
              <%= locals.dataWeather !== undefined ? dataWeather.description : '- -' %>
            </div>
          </div>
          <div class="line"></div>
          <div>
            <div class="location">
              <i class="fa-solid fa-location-dot"></i><%= locals.dataWeather !==
              undefined ? dataWeather.location : '- -' %>
            </div>
            <div class="date">
              <i class="fa-solid fa-calendar"></i><%= locals.dataWeather !== undefined
              ? dataWeather.date : '- -' %>
            </div>
          </div>
        </div>
        <div class="weather-result-secondary">
          <div class="item card">
            <div><i class="fa-solid fa-wind"></i></div>
            <div class="feature">Wind speed</div>
            <div class="value">
              <%= locals.dataWeather !== undefined ? dataWeather.wind : '- -' %> km/h
            </div>
          </div>
          <div class="item card">
            <div><i class="fa-solid fa-droplet"></i></div>
            <div class="feature">Humidity</div>
            <div class="value">
              <%= locals.dataWeather !== undefined ? dataWeather.humidity : '- -' %> %
            </div>
          </div>
          <div class="item card">
            <div><i class="fa-solid fa-gauge"></i></div>
            <div class="feature">Pressure</div>
            <div class="value">
              <%= locals.dataWeather !== undefined ? dataWeather.pressure : '- -' %> hPa
            </div>
          </div>
          <div class="item card">
            <div><i class="fa-solid fa-grip-lines"></i></div>
            <div class="feature">Visibility</div>
            <div class="value">
              <%= locals.dataWeather !== undefined ? dataWeather.visibility : '- -' %> km
            </div>
          </div>
          <div class="item card">
            <div><i class="fa-solid fa-cloud-sun"></i></div>
            <div class="feature">Sunrise</div>
            <div class="value">
              <%= locals.dataWeather !== undefined ? dataWeather.sunrise : '- -:- -' %>
            </div>
          </div>
          <div class="item card">
            <div><i class="fa-solid fa-cloud-moon"></i></div>
            <div class="feature">Sunset</div>
            <div class="value">
              <%= locals.dataWeather !== undefined ? dataWeather.sunset : '- -:- -' %>
            </div>
          </div>
        </div>
        <div class="weather-result-extra card">
          <% if (locals.dataForecast === undefined) { %>
          <span class="no-data">No data</span>
          <% } else { for (let forecastResult of dataForecast) { %>
          <div class="item">
            <div class="day"><%= forecastResult.day %></div>
            <div class="hour"><%= forecastResult.hour %></div>
            <div class="temp"><%= forecastResult.temp %> °C</div>
          </div>
          <% } } %>
          <!--
          <div class="item">
            <div class="day">Day 1</div>
            <div class="hour">Hour</div>
            <div class="temp">- - °C</div>
          </div>
          <div class="item">
            <div class="day">Day 2</div>
            <div class="hour">Hour</div>
            <div class="temp">- - °C</div>
          </div>
          <div class="item">
            <div class="day">Day 3</div>
            <div class="hour">Hour</div>
            <div class="temp">- - °C</div>
          </div>
          <div class="item">
            <div class="day">Day 4</div>
            <div class="hour">Hour</div>
            <div class="temp">- - °C</div>
          </div>
          <div class="item">
            <div class="day">Day 5</div>
            <div class="hour">Hour</div>
            <div class="temp">- - °C</div>
          </div>
          -->
        </div>
      </div>
    </main>

    <script src="js/scripts.js"></script>
  </body>
</html>
